{% extends 'Mobileapp/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
 <div class="container">
  <div class="p-4 m-4">

        
        <div class="col-lg-9 rounded mx-auto border pt-2">
            <div class="text-center col">
            
                <img 
                src="https://image.flaticon.com/icons/png/512/429/429324.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8"><h5>About Us</h5></div>
            <hr>
            </div>
    <div id="contact" class="container">
            <div class="panel-about ">
                <p>“Mobile phone has almost become an internal part of the human life. Every walk of life is spent with a mobile phone. Technology is also at its paciest best. A new gadget launches almost every fortnight.</p>

<p>The first Happi Mobiles showroom opened its doors to the people of Ananthapur in 2018, born out of the idea of amalgamating the look, touch and feel of mobile outlets with the choice, convenience and elegance that modern retail provides.</p>

<p>Happi mobiles conveys that the board operates on four prime values; happiness to the employees, happiness to the customers, happiness to the associate partners and happiness to the stake holders.</p>

<p>With a sole mission to enhance the buying experience of the mobile phone consumers in the country. The company intends to open at least 150 to 200 stores in the first year, aiming for the top line buying segment of Rs 500 Cr.

<p>Happi mobiles has given a major focus on customer engagement inside every store of Happi. The company plans to run this brand with 1000 employees, indirectly contributing to job generation and happi families. Every store will have a live demo zones, VR (virtual reality) & AR (augmented reality) to increase the first hand product experience, and also a dedicated Happi EMI and Exchange counter.</p>

<p>Displaying more than 200 SKUs with wide range of international brands, Happi stores will also have a separate decisive carpet area flaunting top line mobile accessories.</p>

<p>“Happi Mobiles will give an opportunity for the customers to explore wide range from various brands, and we offer world class experience in making their purchase and exceeding expectations in terms of service and delivery”.</p>

<p>“Happi is predetermined to ensure its customer with three mantras Happi Experience, Happi Deals Happi price”.</p>

 

<p>“Mobile phone has almost become an internal part of human life. Every walk of life is spent on a mobile phone. Technology is also at its paciest best. A new gadget launches almost every fortnight.</p>

<p>The first Happi Mobiles showroom opened its doors to the people of Ananthapur in 2018, born out of the idea of amalgamating the look, touch, and feel of mobile outlets with the choice, convenience, and elegance that modern retail market provides.</p>

<p>Happi mobiles convey that the board operates on four prime values; happiness to the employees, happiness to the customers, happiness to the associate partners, and happiness to the stakeholders.</p>

<p>With a sole mission to enhance the buying experience of the mobile phone consumers in the country, the company intends to open at least 150 to 200 stores in the first year, aiming for the top line buying segment of Rs 500 Cr.</p>

<p>Happi mobiles have given a major focus on customer engagement inside every store of Happi. The company plans to operate this brand with 1000 employees, indirectly contributing to employment generation leading to happi families. Every store will be having live demo zones, VR (virtual reality) & AR (augmented reality) to increase the first-hand product experience, and also a dedicated Happi EMI and Exchange counter.</p>

<p>Displaying more than 200 SKUs with a wide range of international brands, Happi stores also possess a separate decisive carpet area flaunting top-line mobile accessories.</p>

<p>“Happi Mobiles will give an opportunity for the customers to explore wide range Gadgets from various brands, and we offer a world-class experience in making their purchase and exceeding expectations in terms of service and delivery”.</p>

<p>“Happi is predetermined to ensure its customer with three mantras Happi Experience, Happi Deals and Happi price”.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}